{
  "presets": [ "react", "stage-3", "react-native"],
  "plugins": [
  	"react-hot-loader/babel", 
  	"transform-class-properties", 
	["transform-runtime", {
	"polyfill": false,
	"regenerator": true
	}]
  ]
}